.Header-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.link {
  color: #fff;
  fill: currentColor;
  text-decoration: none;
  margin-right: 10px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}
.link:hover {
  color: rgb(164, 0, 0);
}
.selected {
  color: rgb(164, 0, 0);
  text-decoration: none;
  font-size: calc(10px + 2vmin);
}
